body {
    background-color: rgb(231, 231, 230);
}

input{
    outline: 1px gray;
    border: 0px;
    border-radius: 5px;
}

.name {
    height: 30px;
    width: 98%;
}


.내용 {
    padding-left: 5px;
    padding-top: 10px;
    font-family: 'Arial', sans-serif;
    outline: 1px gray;
    border: 0px;
    border-radius: 5px;
    width: 98%;
    height: 400px;
    resize: none;
}

.name::placeholder{position: absolute; top: 5px;}
.내용::placeholder{position: absolute; top: 10px;}

input::placeholder{position: absolute; left: 5px;}

.end {
    border-radius: 5px;
    border: 1px;
    padding: 10px;
    background-color: rgb(42, 42, 42);
    color: #fff;
}